.Timer {
    position: absolute;
    right: 1rem;
    background-color: white;
    height: 67%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #FBB232;
}