.Timer {
	margin-block: auto;
	height: 67%;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: white;
	color: #fbb232;
	margin-right: auto;
}
