.Scoreboard-Container {
	background-color: white;
	border-radius: 4px;
	width: 55%;
	height: 70%;
	display: grid;
	grid-template-rows: 1.5fr 7fr;
	margin: auto;
	padding: 0.75rem;
	color: black;
	font-size: 1.25rem;
	text-align: center;
}

.text-Container {
	background-color: #fbb232;
	border-radius: 3px;
	display: grid;
	place-items: center;
	font-size: 2rem;
}

.Scores-Container {
	display: grid;
	grid-template-rows: 0.4fr 1fr 0.4fr;

	.Save-Container {
		display: grid;
		place-items: center;

		.Save-Field {
			height: 3rem;

			input {
				height: 100%;
				background-color: rgba(0, 0, 0, 0.1);
				border: none;
				padding-left: 0.5rem;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
				color: black;
			}

			button {
				width: 4rem;
				height: 100%;
				border: none;
				background-color: #382650;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}
	}

	.Podium-Container {
		display: flex;
		justify-content: center;
		align-items: end;

		.Podium {
			background-color: #fbb232;
			width: 12rem;
			position: relative;
			display: flex;
			justify-content: center;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			.name {
				position: absolute;
				top: -5rem;
				background-color: rgba(0, 0, 0, 0.1);
				width: 11rem;
				height: 2rem;
				display: flex;
				justify-content: center;
				align-items: center;
				color: black;
				border-radius: 5px;
			}

			.place {
				background-color: rgba(0, 0, 0, 0.5);
				width: 3rem;
				height: 3rem;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				position: absolute;
				top: -1.5rem;
			}
		}

		.Gold {
			background-color: #ffd100;
			height: 12rem;
			box-shadow: 1px 0 2px rgba(0, 0, 0, 0.5),
				-1px 0 2px rgba(0, 0, 0, 0.5);
			z-index: 2;
		}

		.Silver {
			background-color: #d6d6d6;
			height: 9rem;
			border-bottom-left-radius: 5px;
		}

		.Bronze {
			background-color: #a63c06;
			height: 6rem;
			border-bottom-right-radius: 5px;
		}
	}

	.Github {
		background-color: #fbb232;
		border-radius: 3px;
		display: grid;
		place-items: center;
		font-size: 2rem;
		margin-top: 0.75rem;
	}
}

// Mobile PORTRAIT
@media (max-width: 1050px) and (orientation: portrait) {
	.Scoreboard-Container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-sizing: border-box;

		.text-Container {
			flex: 1;
			max-height: 100px;
		}

		.Scores-Container {
			flex: 1;

			.Podium-Container {
				.Podium {
					max-width: 7rem;
				}
			}
		}

		.Github {
			flex: 1;
			max-height: 100px;
			margin-top: 75px;
			box-sizing: border-box;
			padding: 0.75rem;
		}
	}
}

// Mobile LANDSCAPE
@media (max-width: 1050px) and (orientation: landscape) {
	.Scoreboard-Container {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;

		.text-Container {
			flex: 1;
		}

		.Scores-Container {
			flex: 3;
			display: flex;
			flex-direction: column;

			.Save-Container {
				flex: 1;
			}

			.Podium-Container {
				flex: 3;

				.Podium {
					width: 6rem;
					margin-inline: 2rem;
				}

				.Gold {
					height: 7rem;
				}

				.Silver {
					height: 5rem;
				}

				.Bronze {
					height: 3rem;
				}
			}

			.Github {
				display: none;
			}
		}
	}
}
